{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "prettier", "node"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/extensions": ["error", "ignorePackages", { "ts": "never" }],
    "no-console": ["error", { "allow": ["info", "error"] }],
    "no-shadow": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  }
}
